/*
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
*/ * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    background-image: url("IMG_1395\ copy.jpg");
}

textarea {
    display: block;
    font-size: 1.6rem;
    border-radius: 8px;
    width: 40rem;
    height: 20rem;
    /* color: #495057; */
    color: rgb(255, 0, 0);
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
    border: 2px solid #495057;
    background-color: transparent;
}

select {
    padding: 0.8rem 1.2rem;
    font-size: 2.4rem;
    border-radius: 8px;
    background-color: transparent;
    /* color: #495057; */
    color: #f1f3f5;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 3.2rem;
    font-size: 2.4rem;
    border-radius: 8px;
    padding: 1.6rem 2.4rem;
    /* color: #495057; */
    color: #f1f3f5;
    background-color: #fff;
    background-color: transparent;
    border: 2px solid #495057;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

h2 {
    font-size: 4.4rem;
    text-align: center;
    margin-bottom: 4.8rem;
    /* color: #495057; */
    color: #f1f3f5;
}

.container {
    max-width: 120rem;
    padding-top: 20vh;
    margin: 0 auto;
}

.selection-div {
    margin-bottom: 3.2rem;
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 3rem;
    font-weight: 400;
    /* color: #868e96; */
    color: #f1f3f5;
}

.input::placeholder {
    color: rgb(255, 0, 0);
    /* color: #adb5bd; */
}
